@charset "utf-8";
/* CSS Document */



.overmybody {
    overflow: hidden;
}




.headbar {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #999;
}

.headbar>ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 16px;
}


.headbar>ul>li {
    float: left;
    width: 50%;
}

.headbar>ul>li:nth-child(1) {
    text-align: left;
}

.headbar>ul>li:nth-child(2) {
    text-align: right;
}

.headbar>ul>li:nth-child(2) p {
    font-size: 14px;
    color: #333;
}

.ltngo {
    overflow: hidden;
}

.ltngo>li {
    float: left;
    margin-right: 16px;
}

.ltngo>li:last-child {
    margin-right: 0;
}

.ltngo>li div {
    font-size: 14px;
    color: #333;
    transition: all .3s;
}

.ltngo>li div:hover {
    color: #000;
}



@media screen and (max-width: 736px) {

    .ltngo>li {
        margin-right: 12px;
    }


}










.logobar {
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}


.logobar>ul {
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
}


.logobar>ul>li {
    float: left;
    position: relative;
    min-height: 47px;
}

.logobar>ul>li:nth-child(1) {
    width: calc(50% - 205px);
}

.logobar>ul>li:nth-child(2) {
    width: 410px;
}

.logobar>ul>li:nth-child(3) {
    width: calc(50% - 205px);
}

.slogo {
    display: none;
}

@media screen and (max-width: 980px) {

    .logobar>ul>li:nth-child(1) {
        width: calc(50% - 150px);
    }

    .logobar>ul>li:nth-child(2) {
        width: 300px;
    }

    .logobar>ul>li:nth-child(3) {
        width: calc(50% - 150px);
    }

    .logobar>ul>li {
        min-height: auto;
    }



}

@media screen and (max-width: 760px) {

    .logobar {
        padding: 12px 0 10px;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        transition: all .3s;
    }



    .logobar>ul>li {
        height: 36px;
        transition: all .3s;
    }

    .logobar>ul>li:nth-child(1) {
        width: 200px;
        padding-left: 16px;
    }

    .logobar>ul>li:nth-child(2) {
        width: calc(100% - 240px);
    }

    .logobar>ul>li:nth-child(3) {
        width: 40px;
    }

    .wlogo {
        display: none;
    }

    .slogo {
        display: block;
    }



}








#sticky-wrapper {
    z-index: 999999;
}


.menu {
    position: relative;
    z-index: 999;
}

.nav {
    width: 100%;
    background-color: #a40001;
    position: relative;
    overflow: hidden;
}

.nav>ul {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.nav>ul>li {
    position: relative;
    display: inline-block;
}


.nav>ul>li div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 0 16px;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.nav>ul>li div:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>ul>li div:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>ul>li:last-child i {
    margin-left: 6px;
    width: 16px;
}

/*.nav > ul > li:last-child img{margin-left: 4px; width: 16px;}*/
.activeok {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.closese {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.opense {
    cursor: pointer;
}

.gosw {
    width: 16px;
    height: 50px;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    opacity: 0.6;
    display: none;
}

.gosw2 {
    width: 16px;
    height: 50px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    opacity: 0.6;
    transform: rotate(180deg);
    display: none;
}

.micon {
    display: none;
}

@media screen and (max-width: 1100px) {

    .nav>ul>li {}

    .nav>ul>li div {
        padding: 0 4px;
        font-size: 15px;
    }

}

@media screen and (max-width: 980px) {

    .nav>ul>li {}

    .nav>ul>li div {
        padding: 0 4px;
        font-size: 15px;
    }

    .nav>ul>li:first-child {
        display: none;
    }

}

@media screen and (max-width: 760px) {


    .menu {
        position: fixed;
        top: 59px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99999;
        width: 100%;
        transform: translateX(100%);
        transition: all .3s;
        overflow: hidden;
    }

    .meun_bg {
        position: fixed;
        top: 59px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9998;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
    }

    .msbg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        clear: both;
    }

    .nav {
        width: 220px;
        height: 100%;
        z-index: 99999;
        float: right;
        overflow-y: auto;
        box-shadow: -2px 0 2px rgba(0, 0, 0, 0.3);
    }

    .navopen {
        transform: translateX(0);
    }

    .nav>ul>li {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        transition: all .3s;
    }

    /*.nav > ul > li:last-child{border-bottom: 0px;}  */


    .nav>ul>li div {
        text-align: left;
        padding: 0 17px;
        overflow: hidden;
        font-size: 16px;
    }

    .nav>ul>li div::after {
        content: "";
        width: 50px;
        height: 50px;
        float: right;
        text-align: center;
        line-height: 50px;
        background-image: url("../images/chevron-right-solid.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 20px;
        opacity: 0.5;
    }


    .micon {
        width: 59px;
        height: 59px;
        line-height: 59px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        opacity: 1;
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-size: 118px;
        background-position: center left;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        transition: all .3s;
    }

    .mc {
        background-position: center right;
        display: none;
    }

}









.search {
    width: 100%;
    background-color: #730001;
    position: absolute;
    right: 0;
    z-index: 99999;
    padding: 16px;
    display: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.search>ul {
    overflow: hidden;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.search>ul>li {
    float: left;
    transition: all .3s;
}

.search>ul>li:nth-child(1) {
    width: calc(150px);
}

.search>ul>li:nth-child(2) {
    width: calc(350px);
    padding-left: 8px;
}

.search>ul>li:nth-child(3) {
    width: calc(100% - 560px);
    padding-left: 8px;
}

.search>ul>li:nth-child(4) {
    width: calc(60px);
}



.navs {
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 8px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    background-image: url("../images/icon_dropdown.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px;
}



.date {
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 8px;
    border-radius: 6px;
    background-color: #fff;
    line-height: 40px;
    cursor: pointer;
    background-image: url("../images/date.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px;
}



.news {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 32px 0 8px;
    border-radius: 6px 0 0 6px;
    background-color: #fff;
    background-image: url("../images/musica-searcher.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 38px;
    transition: all .3s;
}

.newsin {
    background-position: right center;
}


.gose {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffd200;
    color: #000;
    font-size: 18px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: all .3s;
}

.gose:hover {
    background-color: #ffde00;
}


@media screen and (max-width: 1100px) {

    .search {
        right: 0;
    }
}

@media screen and (max-width:980px) {

    .search {
        right: 0;
    }


    .search>ul>li:nth-child(1) {
        margin-bottom: 12px;
    }

    .search>ul>li:nth-child(2) {
        width: calc(100% - 150px);
        margin-bottom: 12px;
    }

    .search>ul>li:nth-child(3) {
        width: calc(100% - 60px);
        padding-left: 0px;
    }

}

@media screen and (max-width:800px) {

    .search {
        width: 100%;
    }

    .search>ul>li:nth-child(1) {
        width: 100%;
    }

    .search>ul>li:nth-child(2) {
        width: 100%;
        padding-left: 0px;
    }


}








.page {
    max-width: 1100px;
    margin: 16px auto 16px;
    position: relative;
    min-height: calc(100vh - 359px);
}

.page>ul {
    overflow: hidden;
}

.page>ul>li {
    position: relative;
    float: left;
}

.page>ul>li:nth-child(1) {
    width: calc(100% - 315px);
    padding-right: 15px;
    border-right: 1px solid #dedede;
}

.page>ul>li:nth-child(2) {
    width: 315px;
    padding-left: 15px;
}

.page>ul>li:nth-child(2)>div#right_blake {
    width: 300px;
}


.page>h1 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding: 0px 0px 12px;
    background-color: #fff;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    border-bottom: 4px double #333;
}

.page>h6 {
    font-size: 12px;
    color: #666;
    margin-bottom: 16px;
    padding: 0px 0px 12px;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 4px double #333;
}

@media screen and (max-width: 1100px) {

    .page {
        padding: 0 16px;
    }

}

@media screen and (max-width: 760px) {

    .page {
        margin: 16px auto;
    }

    .spage>h1 {
        margin-bottom: auto;
    }

    .hhbox {
        height: 59px;
    }

}


@media screen and (max-width:736px) {

    .page {
        margin: 16px auto 0;
    }

    .page>ul>li:nth-child(1) {
        width: 100%;
        padding-right: 0px;
        border-right: 0px solid #dedede;
    }

    .page>ul>li:nth-child(2) {
        width: 100%;
        padding-left: 0px;
    }

    .page>ul>li:nth-child(2)>div#right_blake {
        width: 100%;
    }


}

















.bigbox {
    width: 100%;
    margin: 16px auto;
}

.bigbox>ul {
    overflow: hidden;
}

.bigbox>ul>li {
    float: left;
}


.bigbox>ul>li:nth-child(1) {
    width: 420px;
}

.bigbox>ul>li:nth-child(2) {
    width: calc(100% - 420px);
    padding: 0 0 0 16px;
}


.bigbox>ul>li div h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.2;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.bigbox>ul>li div h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



.bigbox>ul>li div p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.bigbox>ul>li:hover .bf {
    color: #a40001;
}


.bigbox>ul>li div h6 {
    font-size: 13px;
    color: #999;
    margin-top: 8px;
}


.newsimggood {
    width: 100%;
    max-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



/* 控制圖片focus在上方 */
.imgtop {
    align-items: flex-start !important;
}


@media screen and (max-width: 980px) {

    .bigbox>ul>li:nth-child(1) {
        width: 100%;
    }

    .bigbox>ul>li:nth-child(2) {
        width: 100%;
        padding: 16px 0 0 0;
    }

    .bigbox>ul>li div p {
        -webkit-line-clamp: 9;
    }


}

@media screen and (max-width: 736px) {
    .newsimggood {
        max-height: 220px;
    }

    .bigbox>ul>li:nth-child(2) {
        padding: 12px 0 0 0;
    }

    .bigbox>ul>li div h1 {
        margin-bottom: 10px;
    }

    .bigbox>ul>li div p {
        -webkit-line-clamp: 2;
    }
}


@media screen and (max-width: 736px) and (orientation:landscape) {

    .newsimggood {
        max-height: 420px;
    }

}



.bigboxs {}

.bigboxs>ul>li:nth-child(1) {
    width: 100%;
}

.bigboxs>ul>li:nth-child(2) {
    width: 100%;
    padding: 0 0 0 0px;
}



.spage>h1 {
    margin-bottom: 16px;
}

.bigbox2 {
    width: 100%;
    border-top: 1px solid #333;
    padding: 16px 0;
}

.spage .bigbox2 {
    border-bottom: 1px solid #dedede;
}

.bigbox2>ul {
    overflow: hidden;
}

.bigbox2>ul>li {
    float: left;
    width: calc(50% - 8px);
    margin-right: 16px;
    border-right: 1px solid #dedede;
    overflow: hidden;
}

.bigbox2>ul>li:nth-child(1) {
    padding-right: 10px;
}


.bigbox2>ul>li:last-child {
    margin-right: 0;
    border-right: 0px;
}

.bnewsimg {
    float: right;
    margin-left: 10px;
    width: 120px;
    max-height: 92px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}



.bigbox2>ul>li div h1 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bigbox2>ul>li div p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bigbox2>ul>li:hover .bf2 {
    color: #a40001;
}

.bigbox2>ul>li div h6 {
    font-size: 13px;
    color: #999;
    margin-top: 8px;
}


@media screen and (max-width: 980px) {

    .bigbox2>ul>li {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #dedede;
    }

    .bigbox2>ul>li:nth-child(1) {
        padding-bottom: 10px;
        padding-right: 0;
    }

    .bigbox2>ul>li:nth-child(2) {
        padding-top: 16px;
    }

    .bigbox2>ul>li:last-child {
        border-bottom: 0;
    }

}

.adimg {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}


.adcbox {
    width: 100%;
    text-align: center;
    padding: 12px 16px;
    background-color: #f1f1f1;
    margin-bottom: 0px;
}

.adcbox>h3 {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 12px;
}

.adcimg {
    max-width: 728px;
    margin: 0 auto;
    text-align: center;
}

.mb20 {
    margin-bottom: 20px;
}

.mbno20 {
    margin-bottom: 0;
}



.fbbox {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}










.pickup {
    width: 100%;
    background-color: #fff;
}

.pickups {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 4px double #333;
    padding: 12px 0 22px;
}

.pickups>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}



.snewsimg {
    margin-bottom: 10px;
    width: 100%;
    max-height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}


.newssbox {
    width: 100%;
}

.newssbox h3 {
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    min-height: 38px;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newssbox:hover .bf4 {
    color: #a40001;
}

@media screen and (max-width: 1100px) {

    .pickup {
        padding: 0 16px;
    }


}

@media screen and (max-width: 980px) {

    .snewsimg {
        max-height: 80px;
    }

}

@media screen and (max-width: 736px) {

    .snewsimg {
        max-height: 200px;
    }
}

@media screen and (max-width: 736px) and (orientation:landscape) {

    .snewsimg {
        max-height: 400px;
    }

}










.dbox1 {
    width: 100%;
}

.dbox1s {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 0 22px;
}

.dbox1s>a>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.dbox1s>a>h1 i {
    margin-left: 8px;
    color: #bbb;
    transform: scale(0.8);
    float: right;
}

.dbox1s>ul {
    overflow: hidden;
}


.dbox1s>ul>li {
    float: left;
    width: calc(100% / 3);
    min-height: 422px;
}


.dbox1s>ul>li:nth-child(1) {
    padding-right: 16px;
}

.dbox1s>ul>li:nth-child(2) {
    border-left: 1px solid #dedede;
    padding: 0 16px;
}

.dbox1s>ul>li:nth-child(3) {
    border-left: 1px solid #dedede;
    padding-left: 16px;
}



.tnewsimg {
    margin-bottom: 10px;
    width: 100%;
    max-height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}



.dbox1ss h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dbox1ss p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.dbox1ss:hover .bf5 {
    color: #a40001;
}



.dlistbox {
    overflow: hidden;
}

.dlistbox>li {
    margin-bottom: 16px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 16px;
    min-height: 151px;
}

.dlistbox>li:last-child {
    margin-bottom: 0px;
    border-bottom: 0px solid #dedede;
    padding-bottom: 0px;
}

div.date_list {
    font-size: 0.8em;
    padding-bottom: 5px;
    color: #333333;
    display: inline-block;
}

/*瀑布流*/
.waitAjax {
    text-align: center;
    display: none;
}

.waitAjax img {
    width: auto;
    margin: 15px 0;
}

.listEnd {
    display: none;
    text-align: center;
    margin: 15px auto;
}

.dbox1ss2 h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dbox1ss2 p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.dbox1ss2:hover .bf5 {
    color: #a40001;
}





.dnewsimg {
    margin-left: 10px;
    width: 120px;
    max-height: 92px;
    overflow: hidden;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}




@media screen and (max-width: 1100px) {

    .dbox1 {
        padding: 0 16px;
    }


}

@media screen and (max-width: 980px) {



    .dbox1s>ul>li {
        min-height: 322px;
    }

    .dbox1s>ul>li:nth-child(1) {
        width: 50%;
    }

    .dbox1s>ul>li:nth-child(2) {
        width: 50%;
        border-left: 1px solid #dedede;
        padding: 0 0 0 16px;
    }

    .dbox1s>ul>li:nth-child(3) {
        width: 100%;
        border-left: 0px solid #dedede;
        padding-left: 0px;
        padding-top: 16px;
        display: none;
    }

    /*.dbox1s > ul > li:nth-child(3) > .dlistbox li{float: left; width:calc(100% / 3);} */

    .dlistbox>li {
        min-height: auto;
    }

    .tnewsimg {
        max-height: 220px;
    }

    .dbox1ss p {
        -webkit-line-clamp: 2;
    }

    .dbox1ss2 p {
        -webkit-line-clamp: 2;
    }


}

@media screen and (max-width: 736px) {

    .dbox1s>ul>li:nth-child(1) {
        width: 100%;
        padding-bottom: 16px;
        padding-right: 0;
    }

    .dbox1s>ul>li:nth-child(2) {
        width: 100%;
        border-left: 0px;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 16px 0;
    }

    .dbox1s>ul>li:nth-child(3) {
        width: 100%;
        border-left: 0px solid #dedede;
        padding-left: 0px;
        padding-top: 16px;
        display: block;
    }

    .dbox1ss2 h2 {
        -webkit-line-clamp: 3;
    }

    .tnewsimg {
        max-height: 220px;
    }




}

@media screen and (max-width: 736px) and (orientation:landscape) {

    .tnewsimg {
        max-height: 420px;
    }

}






.dbox2 {
    width: 100%;
}

.dbox2s {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 0px double #333;
}

.dbox2s>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
}



.dbox2s>ul {
    overflow: hidden;
}

.dbox2s>ul>li {
    float: left;
    width: calc(50% - 8px);
    margin-right: 16px;
}

.dbox2s>ul>li:last-child {
    margin-right: 0;
}



.dboxss2 {
    width: 100%;
    border-top: 0px double #333;
    padding: 0 0 8px;
}

.dboxss2>a>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.dboxss2>a>h1 i {
    margin-left: 8px;
    color: #bbb;
    float: right;
    transform: scale(0.8);
}

.dboxss2>ul {
    overflow: hidden;
}


.dlistbox2 {
    overflow: hidden;
}

.dlistbox2>li {
    margin-bottom: 16px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 16px;
    min-height: 109px;
}

.dlistbox2>li:last-child {
    margin-bottom: 0px;
    border-bottom: 0px solid #dedede;
    padding-bottom: 0px;
}


.dbox1ss3 h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dbox1ss3 p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dbox1ss3:hover .bf6 {
    color: #a40001;
}


@media screen and (max-width: 1100px) {

    .dbox2 {
        padding: 0 16px;
    }


}

@media screen and (max-width: 980px) {

    .dboxss2 {
        padding-bottom: 22px;
    }

}

@media screen and (max-width: 736px) {

    .dbox2s>ul>li {
        width: calc(100%);
        margin-right: 0px;
    }

    .dbox2s>ul>li:last-child {
        margin-right: 0;
    }

}

/*
.dbox2s .bigbox2{border-top: 0;}
*/



.dbox3 {
    width: 100%;
}

.dbox3s {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0 22px;
}

.dbox3s>a>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.dbox3s>a>h1 i {
    margin-left: 8px;
    color: #bbb;
    float: right;
    transform: scale(0.8);
}

.dbox3s>ul {
    overflow: hidden;
}


.dbox3s>ul>li {
    float: left;
    min-height: 362px;
}

.dbox3s>ul>li:nth-child(1) {
    width: calc(420px);
    padding-right: 16px;
}

.dbox3s>ul>li:nth-child(2) {
    width: calc(100% - 420px);
    border-left: 1px solid #dedede;
    padding: 0 16px;
}


.spnewsimg {
    margin-bottom: 10px;
    width: 100%;
    max-height: 248px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}




.dbox1ss4 h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dbox1ss4 p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dbox1ss4:hover .bf7 {
    color: #a40001;
}


/* 沒圖時大標下的desc行數*/
p.line14 {
    -webkit-line-clamp: 14;
}

p.line20 {
    -webkit-line-clamp: 20;
}

@media screen and (max-width: 1100px) {

    .dbox3 {
        padding: 0 16px;
    }


}

@media screen and (max-width: 980px) {


    .dbox3s>ul>li:nth-child(1) {
        width: calc(50%);
    }

    .dbox3s>ul>li:nth-child(2) {
        width: calc(50%);
    }

    .spnewsimg {
        max-height: 220px;
    }

    .dbox3s>ul>li {
        min-height: 322px;
    }


}

@media screen and (max-width: 736px) {


    .dbox3s>ul>li:nth-child(1) {
        width: calc(100%);
        padding-bottom: 16px;
        padding-right: 0;
    }

    .dbox3s>ul>li:nth-child(2) {
        width: calc(100%);
        border-left: 0px;
        border-top: 1px solid #dedede;
        padding: 16px 0 0;
    }

}


@media screen and (max-width: 736px) and (orientation:landscape) {

    .spnewsimg {
        max-height: 420px;
    }

}



.dbox4 {
    width: 100%;
}

.dbox4s {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 0px double #333;
}

.dbox4s>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
}

.dbox4s>ul {
    overflow: hidden;
}

.dbox4s>ul>li {
    float: left;
    width: calc(33.33% - 14px);
    margin-right: 21px;
}

.dbox4s>ul>li:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1100px) {

    .dbox4 {
        padding: 0 16px;
    }


}

@media screen and (max-width: 980px) {


    .dbox4s>ul>li {
        width: 100%;
        margin-right: 0px;
    }

    .dbox4s>ul>li .dnewsimg {
        max-height: 70px;
    }

}

@media screen and (max-width: 736px) {

    .dbox4s>ul>li .dnewsimg {
        max-height: 92px;
    }

}






.cartoon {
    width: 100%;
    background-color: #fff;
}

.cartoons {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 4px double #333;
    padding: 12px 0 22px;
}

.cartoons>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.cartoons>ul {
    overflow: hidden;
}

.cartoons>ul>li {
    width: calc(20% - 12px);
    margin-right: 15px;
    float: left;
}

.cartoons>ul>li:last-child {
    margin-right: 0;
}

.cartoons>ul>li .snewsimg {
    border: 1px solid #dedede;
}

@media screen and (max-width: 1100px) {

    .cartoon {
        padding: 0 16px;
    }

}

@media screen and (max-width: 980px) {


    .cartoons>ul>li {
        width: calc(33.33% - 10px);
    }

    .cartoons>ul>li:nth-child(3) {
        margin-right: 0;
    }

    .cartoons>ul>li:nth-child(4) {
        display: none;
    }

    .cartoons>ul>li:nth-child(5) {
        display: none;
    }

    .cartoons>ul>li .snewsimg {
        max-height: 160px;
    }

}

@media screen and (max-width: 736px) {

    .cartoons>ul>li {
        width: calc(100%);
        margin-right: 0;
        margin-bottom: 15px;
    }

    .cartoons>ul>li:nth-child(3) {
        margin-bottom: 0;
    }

    .cartoons>ul>li:last-child {
        margin-bottom: 0;
    }

    .cartoons>ul>li .snewsimg {
        max-height: 200px;
    }

}

@media screen and (max-width: 736px) and (orientation:landscape) {

    .cartoons>ul>li .snewsimg {
        max-height: 400px;
    }

}





.dbox5 {
    width: 100%;
}

.dbox5s {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 0px double #333;
    padding: 0px 0 22px;
}

.dbox5s>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
}

.dbox5s>ul {
    overflow: hidden;
}

.dbox5s>ul>li {
    float: left;
}

.dbox5s>ul>li:nth-child(1) {
    width: calc(100% - 640px);
}

.dbox5s>ul>li:nth-child(2) {
    width: 340px;
    padding: 0 20px;
}

.dbox5s>ul>li:nth-child(3) {
    width: 300px;
}

@media screen and (max-width: 1100px) {

    .dbox5 {
        padding: 0 16px;
    }

}

@media screen and (max-width: 980px) {


    .dbox5s>ul>li:nth-child(1) {
        width: 100%;
        margin-bottom: 0px;
    }

    .dbox5s>ul>li:nth-child(2) {
        width: 320px;
        padding: 0 20px 0 0;
        display: none;
    }

    .dbox5s>ul>li:nth-child(3) {
        width: 300px;
        display: none;
    }


}

@media screen and (max-width: 736px) {


    .dbox5s>ul>li:nth-child(2) {
        width: 100%;
        padding: 20px 0px 0 0;
        display: none;
    }


}









.weather {
    width: 100%;
    border-top: 0px double #333;
    padding: 14px 12px;
    min-height: 382px;
    background-color: #fff;
    border: 1px solid #eee;
}

.weather>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.weather>ul {
    overflow: hidden;
}


.weather>ul>li {
    float: left;
    margin-right: 8px;
}

.weather>ul>li:last-child {
    margin-right: 0;
}

.tablinks3 {
    font-size: 15px;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background-color: #999;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 12px;
}

.tablinks3:hover {
    background-color: #333;
}

.tablinks3.active {
    background-color: #333;
}



.tabcontent3 {
    width: 100%;
    display: none;
}


#mygod01 {
    display: block;
}

.tabcontent3 table {
    width: 100%;
}

.tabcontent3 table td {
    padding: 8px;
    font-size: 15px;
}

.tabcontent3 table td:last-child {
    text-align: center;
}

.tabcontent3 table tr {
    border-bottom: 1px solid #dedede;
}

.tabcontent3 table tr:first-child {
    border-top: 1px solid #dedede;
}

.tabcontent3 table tr:nth-child(odd) {
    background-color: #efefef;
}


@media screen and (max-width: 980px) {

    .weather {
        min-height: auto;
        border: 1px solid #dedede;
    }

}

@media screen and (max-width: 736px) {

    .weather>ul>li {
        margin-right: 6px;
    }

    .tablinks3 {
        font-size: 13px;
        padding: 0 6px;
    }

}










.footer {
    width: 100%;
    background-color: #fff;
    padding: 22px 16px;
    border-top: 1px solid #333;
}


.footer>ul {
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
}


.footer>ul>li {
    float: left;
    width: calc(33.33% - 16px);
    margin-right: 24px;
    border-right: 1px solid #dedede;
    min-height: 120px;
}

.footer>ul>li:last-child {
    margin-right: 0;
    border-right: 0px solid #666;
}


@media screen and (max-width: 980px) {

    .footer>ul>li:first-child {
        padding-right: 16px;
    }

    .footer>ul>li:first-child img {
        width: 100%;
        max-width: 318px;
        margin-bottom: 8px;
    }

}

@media screen and (max-width: 736px) {

    .footer {
        padding: 16px;
    }

    .footer>ul>li {
        width: calc(100%);
        margin-right: 0px;
        min-height: auto;
        border-right: 0px;
        border-bottom: 1px solid #dedede;
        padding: 8px 0;
    }

    .footer>ul>li:first-child {
        padding-right: 0px;
    }

    .footer>ul>li:last-child {
        border-bottom: 0px
    }


    .footer>ul>li:first-child img {
        max-width: 200px;
    }


}









.dnav {
    width: 100%;
    margin-bottom: 0px;
}

.dnav>ul {
    overflow: hidden;
    padding-right: 16px;
}

.dnav>ul>li {
    position: relative;
    float: left;
    margin-right: 16px;
}



.dnav>ul>li div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    text-align: left;
    transition: all .3s;
}

.dnav>ul>li div:hover {
    color: #000;
}


@media screen and (max-width: 736px) {

    .dnav>ul {
        padding-right: 0px;
    }

}



.copy {
    width: 100%;
    background-color: #a40001;
    color: #fff;
    padding: 16px;
    font-size: 13px;
    text-align: center;
}

@media screen and (max-width: 736px) {

    .copy {
        font-size: 12px;
        line-height: 1.2;
    }

}





.popular {
    width: 100%;
    border-top: 4px double #333;
    padding: 12px 0 22px;
}

.popular>a>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.popular>a>h1 i {
    margin-left: 8px;
    color: #bbb;
    transform: scale(0.8);
}

.popular>ul>li {
    margin-bottom: 20px;
    overflow: hidden;
}

.popular>ul>li:last-child {
    margin-bottom: 0;
}

.popular>ul>li h5 {
    font-size: 15px;
    font-weight: lighter;
    color: #000;
    line-height: 1.5;
    float: left;
    width: calc(100% - 20px);
    padding-left: 8px;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.no {
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    background-color: #333;
    color: #fff;
    float: left;
    transition: all .3s;
}


.popular>ul>li:hover .bf3 {
    color: #a40001;
}

.popular>ul>li:hover .no {
    background-color: #a40001;
}




.tabrs {
    width: 100%;
    margin-top: 4px;
}

.tabrs>ul {
    overflow: hidden;
    border-bottom: 0px solid #999;
    padding: 0 4px;
}

.tabrs>ul>li {
    width: 50%;
    padding: 0 4px;
    float: left;
}

.tabrs>ul>li:last-child {
    margin-right: 0;
}

.tabrs>ul>li div {
    font-size: 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #999;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    transition: all .3s;
    border-left: 0px solid #dedede;
    border-top: 0px solid #dedede;
    border-right: 0px solid #dedede;
    border-radius: 4px 4px 0 0;
}

.tabrs>ul>li div:hover {
    color: #fff;
    background-color: #333;
}

.tabrs .active {
    color: #fff;
    border-left: 0px solid #333;
    border-top: 0px solid #333;
    border-right: 0px solid #333;
    background-color: #333;
}

.tabcontent1 {
    display: none;
}

#read {
    display: block;
}



.plistbox {
    width: 100%;
    border-top: 0px double #333;
    padding: 0 0 0px;
}

.plistbox>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.plistbox>h1 i {
    margin-left: 8px;
    color: #bbb;
    float: right;
    transform: scale(0.8);
}

.plistbox>ul {
    overflow: hidden;
}

.plistbox .dlistbox2>li:first-child {
    padding-top: 16px;
}

.plistbox .dlistbox2>li h6 {
    font-size: 13px;
    color: #999;
    margin-top: 8px;
}

.plistbox .dlistbox2>li:last-child {
    margin-bottom: 0px;
    border-bottom: 0px solid #dedede;
    padding-bottom: 16px;
}


.spage .bigbox>ul>li div p {
    -webkit-line-clamp: 5;
}

.spage2 .dlistbox2>li:first-child {
    border-top: 0px solid #dedede;
    padding-top: 0px;
}


.sp8 {
    -webkit-line-clamp: 8 !important;
}

.sp9 {
    -webkit-line-clamp: 9 !important;
}


@media screen and (max-width: 736px) {

    .spage .bigbox>ul>li div p {
        -webkit-line-clamp: 2;
    }

}





/*--------------------頁碼--------------------*/


.listpage_box {
    width: 100%;
    margin: 8px 0;
}



.news_list_next {
    padding: 0px 0;
    text-align: center;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}

.news_list_next span {
    border: 1px solid #333;
    margin: 0 1px;
    padding: 5px 9px;
    text-decoration: none;
    vertical-align: middle;
    color: #ffffff;
    background-color: #333;
}

.news_list_next a {
    border: 1px solid #666;
    color: #666;
    margin: 0 1px;
    padding: 5px 9px;
    text-decoration: none;
    vertical-align: middle;
}

.news_list_next a:hover {
    border: 1px solid #666;
    color: #ffffff;
    background-color: #666;
}

.topset {
    background-color: #666;
}

@media screen and (max-width: 736px) {

    .listpage_box {
        margin: 16px 0 20px;
    }

}







.archives {
    width: 100%;
    padding: 8px 0 0;
}

.archives>h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
    line-height: 1.3;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}


.archives>h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 12px;
    line-height: 1.5;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}


.archives>h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 12px;
    line-height: 1.5;
    transition: all .3s;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}


.archives>p {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.5;
}

.archives a {
    color: #206ED9;
    text-decoration: underline;
}

.archives .name {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    line-height: 1.5;
}

.archives strong {
    font-weight: bold;
}

.archives p i {
    font-style: italic;
}

.archives .imgboxa>div {
    cursor: pointer;
}

.red {
    color: #a40001;
}


.imgboxa {
    width: 100%;
    background-color: #f1f1f1;
    padding: 16px;
    margin-bottom: 20px;
}

.imgboxa>div>img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.imgboxa>h1 {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}

.imgboxa>p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}



.videosa {
    width: 100%;
    margin-bottom: 10px;
}

.videosa {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videosa iframe,
.videosa object,
.videosa embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.clickrate {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
    line-height: 1.5;
}

.fbsbox {
    width: 100%;
    margin-bottom: 16px;
    height: 30px;
    overflow: hidden;
}

.saywhat {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    padding: 10px 0;
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
}

.fbsay {
    margin-bottom: 10px;
}



.archivesd .dboxss2>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.archivesd .dboxss2>h1 i {
    margin-left: 8px;
    color: #bbb;
    float: right;
    transform: scale(0.8);
}





.picksright {
    width: 100%;
    border-top: 4px double #333;
    padding: 12px 0 22px;
}

.picksright>a>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.picksright>a>h1 i {
    margin-left: 8px;
    color: #bbb;
    transform: scale(0.8);
}

.picksright>ul>li {
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.picksright>ul>li:last-child {
    margin-bottom: 0;
    border-bottom: 0px solid #dedede;
    padding-bottom: 0px;
}

.picksright>ul>li h5 {
    font-size: 15px;
    color: #000;
    line-height: 1.5;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.picksright>ul>li:hover .bf3 {
    color: #a40001;
}

.picksright>ul>li:hover .no {
    background-color: #a40001;
}

.picksright>ul>li .dnewsimg {
    float: left;
    margin-left: 0;
    margin-right: 10px;
    max-height: 66px;
    width: 100px;
}

.picksright>ul>li .dnewsimg img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}





.as {
    overflow: hidden;
}

.as>li {
    float: left;
}

.as>li:nth-child(1) {
    width: calc(100% - 100px);
}

.as>li:nth-child(2) {
    width: 100px;
}


.sh {
    overflow: hidden;
    text-align: right;
}

.sh>li {
    display: inline-block;
    margin-left: 5px;
}

.sh>li i {
    font-size: 24px;
}

.sh>li:nth-child(1) i {
    color: #1da1f2;
}

.sh>li:nth-child(2) i {
    color: #3b5998;
}

.sh>li:nth-child(3) i {
    color: #00c300;
}

/*.sh > li:nth-child(3){display: none;}*/



.iconimg {
    position: relative;
    top: 0px;
}

.iconimg2 {
    position: relative;
    top: 2px;
}

.iconimg3 {
    position: relative;
    top: 3px;
}

.iconimg4 {
    position: relative;
    top: 4px;
}





.slogos,
.todaybox {
    display: none;
}


@media screen and (max-width: 800px) {




    .logobars {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.9);
        transition: all .3s;
    }

    /*
.logobars > ul > li{height: 32px;}
.logobars > ul > li:nth-child(1){ width: 44px; padding-left: 12px;}
.logobars > ul > li:nth-child(2){ width: calc(100% - 99px); padding-left: 12px;}
.logobars > ul > li:nth-child(3){ width: 55px;}

.micons{width: 55px; height: 55px;}

.todaybox{font-size: 15px; color: #666; line-height: 32px; display: none; overflow: hidden;text-overflow : ellipsis;  white-space : nowrap; width: 100%;}

.menus{top:55px;}
.meun_bgs{top:55px;}
 */
}





/*20200203*/
.noline {
    border-top: 0;
}

.sline {
    border-top: 1px solid #dedede;
}

.arboxs>ul>li {
    width: 100%;
    margin-right: 0;
}




/*about*/

.about {
    width: 100%;
    background-image: url("../images/info/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about>ul {
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.about>ul>li {
    float: left;
    min-height: 400px;
}


.about>ul>li:nth-child(1) {
    width: calc(100% - 320px);
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about>ul>li:nth-child(2) {
    width: 320px;
    overflow: hidden;
    position: relative;
}

.about>ul>li:nth-child(1) h1 {
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
}

.mobilenew {
    position: absolute;
    bottom: -92px;
    right: 0;
}


@media screen and (max-width: 980px) {


    .about>ul>li:nth-child(1) h1 {
        font-size: 30px;
    }

    .about>ul>li:nth-child(1) {
        width: calc(100% - 300px);
        padding-left: 24px;
    }

    .about>ul>li:nth-child(2) {
        width: 300px;
    }

    .mobilenew {
        right: -10px;
    }

}

@media screen and (max-width: 736px) {


    /*.about{margin-bottom: 8px;}*/

    .about>ul>li {
        float: left;
        min-height: auto;
    }

    .about>ul>li:nth-child(1) {
        width: 100%;
    }

    .about>ul>li:nth-child(2) {
        width: 100%;
        min-height: 320px;
    }

    .about>ul>li:nth-child(1) h1 {
        font-size: 22px;
        text-align: center;
        padding: 40px 0 32px;
    }

    .mobilenew {
        max-width: 300px;
        left: 50%;
        right: auto;
        margin-left: -120px;
        bottom: -100px;
    }

}









.aboutm {
    width: 100%;
    padding: 16px 8px;
    background-color: #eee;
    z-index: 777 !important;
}

.aboutm ul {
    overflow: hidden;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.aboutm ul li {
    width: calc(16% - 12px);
    display: inline-block;
    margin-right: 16px;
}

.aboutm ul li:last-child {
    margin-right: 0;
}

.aboutm ul li div {
    font-size: 16px;
    width: 100%;
    padding: 8px 0px;
    background-color: #999;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    transition: all .3s;
}

.aboutm ul li div:hover {
    background-color: #333;
}

@media screen and (max-width: 980px) {


    .aboutm {
        padding: 16px 16px 8px;
    }

}

@media screen and (max-width: 736px) {

    .aboutm ul li {
        width: calc(100% / 2);
        margin-bottom: 8px;
        margin-right: 0;
        padding: 0 4px;
        float: left;
        display: inherit;
    }

    .aboutm {
        padding: 12px 12px 4px;
    }

}





.aboutbox {
    width: 100%;
    padding-bottom: 8px;
    position: relative;
}

.aboutbox>p {
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    margin-bottom: 16px;
}

.aboutbox>ol {
    padding-left: 20px;
}

.aboutbox>ol>li {
    list-style: decimal;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    margin-bottom: 16px
}

.aboutbox>ul {}

.aboutbox>ul>li {
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    margin-bottom: 16px
}





.abbox {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.abbox>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 0px 0px 12px;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    border-bottom: 4px double #333;
}







.sbg {
    background-color: #fff;
    border-top: 1px solid #aaa;
    margin-bottom: 40px;
}

.a2box {
    width: 100%;
}

.a2box>ul {
    overflow: hidden;
}

.a2box>ul>li {
    width: 50%;
    min-height: 300px;
    padding: 20px 0px 0px;
    float: left;
    position: relative;
}

.a2box>ul>li h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    overflow: hidden;
    line-height: 1.4;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}

.a2box>ul>li h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    background-color: #666;
    border-radius: 4px;
}

.a2box>ul>li p {
    font-size: 14px;
    color: #777;
}

.alist {
    margin-bottom: 20px;
}

.alist>li {
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 12px;
}

.alist>li:last-child {
    margin-bottom: 0;
}


.map {
    width: 100%;
}

.map {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map iframe,
.map object,
.map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




@media screen and (max-width: 980px) {

    .a2box>ul>li {
        width: 100%;
        min-height: auto;
        padding: 20px 0px 0px;
    }

    .a2box>ul>li:nth-child(2) {
        padding: 10px 0px 0px;
    }

}











.tag {
    position: absolute;
    top: -130px;
}

@media screen and (max-width: 736px) {

    .tag {
        top: -170px;
    }

}









.worka {
    width: 100%;
    margin-bottom: 0px;
    margin-top: -8px;
}

.worka>ul {
    overflow: hidden;
}

.worka>ul>li {
    float: left;
    width: calc(50% - 8px);
    margin-right: 16px;
    margin-bottom: 15px;
    background-color: #eee;
    vertical-align: top;
    min-height: 412px;
}

.worka>ul>li:nth-child(2n+2) {
    margin-right: 0;
}


.worka>ul>li h1 {
    font-size: 20px;
    color: #fff;
    background-color: #666;
    padding: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}

.worka_list {
    width: 100%;
    padding: 16px 16px 16px 32px;
}

.worka_list>li {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 12px;
    list-style: decimal;
}

.worka_list>li:last-child {
    margin-bottom: 0;
}

.workp {
    font-size: 15px !important;
    color: #666 !important;
}


@media screen and (max-width: 1024px) {

    .worka>ul>li {
        min-height: 376px;
    }

}

@media screen and (max-width: 980px) {

    .worka>ul>li {
        min-height: 522px
    }

}

@media screen and (max-width: 736px) {

    .worka>ul>li {
        min-height: auto;
        margin-right: 0;
        width: 100%;
    }


}









#back-to-top {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    border: 0;
    transition: all .3s;
    opacity: 0;

}

#back-to-top:hover {
    background-color: #666;
}

#back-to-top.show {
    opacity: 0.8;
}


@media screen and (max-width: 980px) {

    #back-to-top {
        bottom: 24px;
        right: 24px;
    }

}

@media screen and (max-width: 736px) {

    #back-to-top {
        bottom: 16px;
        right: 16px;
    }

}






.thematic {
    max-width: 1100px;
    margin: 0 auto 22px
}

.thematic>h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
}


.thematic>ul {
    overflow: hidden;
}

.thematic>ul>li {
    float: left;
    width: calc(50% - 8px);
    margin-right: 16px;
    overflow: hidden;
    transition: all .3s;
}

.thematic>ul>li:last-child {
    margin-right: 0;
}

.thematics {
    width: 100%;
    border: 1px solid #999;
    padding: 12px 16px 16px;
    min-height: 175px;
    transition: all .3s;
    overflow: hidden;
    /*background-image: url("../img/rd.png");*/
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 16px;
}



.thematics h2 {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 4px 10px 0;
    max-height: 60px;
    line-height: 1.4;
    font-family: 'Gelasio', serif, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
    border-bottom: 1px solid #bbb;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.thematics h2 i {
    margin-left: 8px;
    color: #bbb;
    transform: scale(0.8);
    float: right;
}



.thematics h1 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thematics p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.bfb:hover {
    color: #a40001;
}

.onenews:hover .bfb2 {
    color: #a40001;
}

@media screen and (max-width: 1100px) {

    .thematic {
        padding: 0 16px;
    }

}

@media screen and (max-width: 980px) {

    .thematic>ul>li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .thematic>ul>li:last-child {
        margin-bottom: 0;
    }

    .thematics {
        min-height: auto;
    }

}

@media screen and (max-width: 736px) {

    .thematic {
        margin-bottom: 16px;
    }

    .thematics h1 {
        -webkit-line-clamp: 3;
    }

}


.thematicbig>ul>li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
}




@media screen and (max-width: 980px) {
    .arboxs .dboxss2 {
        padding-bottom: 4px;
    }
}

.thebox2 {
    overflow: hidden;
}

.thebox2>li {
    float: left;
    width: calc(50% - 10px);
    margin-right: 20px;
}

.thebox2>li:last-child {
    margin-right: 0
}


@media screen and (max-width: 980px) {

    .thebox2>li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .thebox2>li:last-child {
        margin-bottom: 0;
    }


}

.hidden {
    display: none !important;
}



/*內文嵌入媒體*/
.iga iframe.instagram-media {
    max-width: 950px !important;
}

.twittera,
.fba,
.iga {
    margin-bottom: 10px;
}

.archives .xscroll {
    overflow-x: auto;
}


/** 內文 notes */
.notes {
    width: 100%;
    padding: 10px 16px 4px;
    border: 1px solid #999;
    margin-bottom: 20px;
}

.notes>h1 {
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 12px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}

.notes>h2 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.notes>p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #666;
}

.where {
    width: 100%;
    margin-bottom: 16px;
}

.where ul {
    overflow: hidden;
}

.where li {
    display: inline-block;
}

.where li:after {
    content: "/";
    margin-left: 4px;
}

.where li:last-child:after {
    content: "";
}

.where li a {
    color: #000000;
    font-size: 14px;
}

.where li a:hover {
    text-decoration: underline;
}

/* 404 page */
.oops {
    width: 100%;
    padding: 24px 0;
    text-align: center;
}

.oops>img {
    margin-bottom: 24px;
}

.oops>h5 {
    font-size: 24px;
    color: #a40001;
    font-weight: bold;
    margin-bottom: 16px;
}

.oops>h6 {
    font-size: 20px;
    color: #a40001;
    margin-bottom: 16px;
}

.oops>p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.oops iframe {
    width: 100%;
    height: 580px;
    max-width: 420px;
    margin-bottom: 20px;
    overflow: hidden;
}

.gohome404 {
    width: 100%;
    margin-bottom: 16px;
}

.gohome404>li {
    width: 100%;
}

.gohome404>li div {
    max-width: 300px;
    height: 44px;
    line-height: 44px;
    background-color: #a40001;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    margin: 0 auto;
}

@media screen and (max-width:736px) {

    .gohome404>li div {
        max-width: 160px;
    }

}


/* DFP CSS */
.mob {
    display: none;
}

.web {
    display: block;
}

@media screen and (max-width: 736px) {
    .web {
        display: none;
    }

    .mob {
        display: block;
    }
}

div.ad_pd_t {
    padding-top: 16px;
}

div.ad_pd_b {
    padding-bottom: 16px;
}

div.ad_mg_t {
    margin-top: 16px;
}

div.ad_mg_b {
    margin-bottom: 16px;
}

div.ad_bd_t {
    border-top: 1px solid #dedede;
}

div.ad_bd_b {
    border-bottom: 1px solid #dedede;
}

/* 浮水印廣告 */
.door-bottom-head {
    position: fixed;
    z-index: 1000;
}

.door-bottom {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.door-bottom-space {
    float: left;
    position: relative;
    background-color: #fff;
    z-index: 11;
}

.door-bottom i.close {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
}

.door-bottom i.close:before {
    content: "×";
    font-size: 2rem;
    color: #555;
    font-style: normal;
    line-height: 0.9;
}

/* ad-H1 蓋台 */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
}
