body {
    background-color: #ccc;
    color: #000;
    font-family: arial, helvetica, sans-serif;
    margin: 5px;
    background-image: url(image/background.png);
    background-repeat: repeat-x;
}

a {
    color: #000;
}

a img {
    border: 0;
}

a.toolbarButton img {
    border: 1px solid transparent;
}

a.toolbarButton:hover img {
    border: 1px solid #000;
}

.app {
    position: relative;
    width: 784px;
    height: 615px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
}

.app p.note {
    margin-top: 120px;
    margin: 40px;
    font-weight: bold;
    color: #855;
    text-align: center;
}

h1 {
    font-size: 110%;
    text-align: right;
    padding-top: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888;
}

.canvas {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    border: 1px solid #bbb;
    overflow: hidden;
    width: 760px;
    height: 520px;
}

#canvasBackground {
    z-index: 10;
    background-color: #fff;
}

#canvasForeground {
    z-index: 30;
    background-color: transparent;
}

#canvasClickarea {
    z-index: 40;
    background-color: transparent;
}

#debug,
#debug2 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: #555;
    padding: 2px;
    font-family: monospace;
    height: 22px;
    overflow: hidden;
}

#debug2 {
    top: 45px;
    background-color: #eee;
    display: none;
}

#tools {
    position: absolute;
    top: 540px;
    left: 10px;
    font-size: 80%;
    color: #555;
    width: 480px;
    height: 65px;
}

.button {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid #777;
    border-bottom: 2px solid #777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    display: block;
    background-color: rgb(198,198,198);
    float: left;
    margin-right: 3px;
    margin-bottom: 4px;
}

.button,
.button img {
    width: 40px;
    height: 26px;
}

.button img {
    -moz-opacity: .8;
    opacity: .8;
}

#button1 {
    border-left: 2px solid #777;
    border-top: 2px solid #777;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: rgb(255,255,0);
}

#toolsSeparator {
    position: absolute;
    top: 0;
    left: 655px;
    height: 65px;
    overflow: hidden;
    border-left: 1px solid #aaa;
}

.toolbarButton {
    position: absolute;
    display: block;
    clear: both;
    top: 0;
    width: 23px;
    height: 20px;
}

#toolbarButtonSave {
    left: 665px;
}

#toolbarButtonNew {
    left: 700px;
}

#toolbarButtonMenu {
    left: 735px;
}

.logo {
    position: absolute;
    display: block;
    left: 674px;
    top: 19px;
    width: 85px;
    height: 17px;
}

#menu {
    border: 1px solid #aaa;
    width: 225px;
    height: 102px;
    background-color: #ddd;
    display: none;
    position: absolute;
    left: 540px;
    top: -103px;
    z-index: 50;
    overflow: hidden;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
}

#menu a {
    display: block;
    padding: 4px;
    padding-left: 24px;
    height: 16px;
    width: 197px;
    border-bottom: 2px solid #eee;
    color: #444;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
}

#menu a.lastMenu {
    border-bottom-width: 0;
}

#menu .footnote {
    font-size: 85%;
    color: #666;
    background-color: #ddd;
}

#menu a:hover,
#menu a:hover .footnote {
    background-color: #eee;
}

.saveMenu {
    background-image: url(image/save-small.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

#about {
    padding: 20px;
    padding-top: 35px;
    position: absolute;
    left: 125px;
    top: 140px;
    width: 504px;
    height: 200px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #aaa;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    -moz-opacity: .9;
    opacity: .9;
    filter: alpha(opacity=90);
}

#about .footnote {
    font-size: 90%;
}

#about {
    display: none;
    z-index: 100;
}

.closeAbout {
    position: absolute;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    left: 505px;
    top: 6px;
    width: 22px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    background-color: #fff;
    cursor: default;
    color: #777;
}

#toolbarButtonEmail {
    left: 735px;
}

#bottomSpace {
    position: absolute;
    left: 0;
    top: 622px;
    width: 784px;
    height: 70px;
    font-size: 90%"
    z-index: 1000;
}

#sideBanner {
    position: absolute;
    left: 790px;
    top: 0;
    width: 310px;
    height: 700px;
}

.mainBottomLinks {
    float: left;
    width: 480px;
}

.bottomLike {
    float: right;
    width: 220px;
}

#bottomSpace a {
    color: rgb(100,100,100);
}

#bottomSpace a.iOsLink {
    color: rgb(69,94,207);
    font-weight: bold;
}
