@font-face {
    font-family: 'harriet';
    src: url('fonts/Harriet-v2-Text-Regular-latin1.woff2') format('woff2'),
         url('fonts/Harriet-v2-Text-Regular-latin1.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'harriet';
    src: url('fonts/Harriet-v2-Text-Regular-Italic-latin1.woff2') format('woff2'),
         url('fonts/Harriet-v2-Text-Regular-Italic-latin1.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'harriet';
    src: url('fonts/Harriet-v2-Text-Bold-latin1.woff2') format('woff2'),
         url('fonts/Harriet-v2-Text-Bold-latin1.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'ascentis';
    src: url('fonts/Ascentis-Regular.woff2') format('woff2'),
         url('fonts/Ascentis-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: harriet, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #f9f5ff;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

h1 {
    font-family: ascentis;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' width='90'%3E%3Cpath d='M7.762 0C2.248 3.184-.444 7.046.65 10.636c1.995 6.546 7.695 6.93 11.618 7.01 5.687.115 16.628-4.493 27.72-8.195 10.811-3.61 19.214-7.626 31.855-6.882 1.806.106 13.369.305 17.226 8.429 2.968 6.25-1.508 12.903-8.47 13.817-9.986 1.31-13.8-4.769-13.8-4.769s4.454 4.762 12.135 4.585c5.608-.13 11.142-4.967 10.573-9.73-.997-8.346-8.553-11.563-16.519-11.103-17.577 1.016-32.433 8.054-47.532 12.864-9.06 2.887-15.779 1.316-15.779 1.316s-6.556.448-9.09-6.065C-2.527 3.9 7.763 0 7.763 0z'/%3E%3Cpath d='M30.197 5.968s-2.8-4.675-9.012-4.127c-6.213.549-10.496 5.767-10.473 10.405.024 4.637 3.888 9.549 10.154 10.822 6.265 1.274 13.376.137 19.173-2.079 5.796-2.215 24.578-8.82 24.578-8.82s4.43-1.622 8.013-1.47c3.582.152 8.535 1.637 10.097 3.73 1.56 2.093-1.469-3.328-5.745-4.063-4.275-.735-6.87-1.741-15.626.687-8.756 2.427-23.745 8.746-26.121 9.272-2.377.526-7.261 2.43-12.848 2.133-5.586-.296-10.056-3.876-10.823-7.532-.767-3.656-.506-9.106 6.047-11.73 6.553-2.625 9.302.069 10.517.978 1.214.909 2.069 1.794 2.069 1.794z' stroke='%23000' stroke-width='.24'/%3E%3C/svg%3E") no-repeat top center;
    background-size: auto 20px;
    border: 0;
    height: 20px;
    width: 55%;
    margin: 1.5em 0;
    display: inline-block;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

#dateline {
	font-style: normal;
}


article {
    padding: 0rem 0rem 5rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
ol,
ul {
    font-size: 1.25rem;
    line-height: 2.0rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

blockquote {
    font-size: 1.25rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
	max-width: 35%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#f9f5ff, #f9f5ff), -webkit-linear-gradient(#f9f5ff, #f9f5ff), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#f9f5ff, #f9f5ff), linear-gradient(#f9f5ff, #f9f5ff), linear-gradient(currentColor, currentColor);
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #f9f5ff, -0.03em 0 #f9f5ff, 0 0.03em #f9f5ff, 0 -0.03em #f9f5ff, 0.06em 0 #f9f5ff, -0.06em 0 #f9f5ff, 0.09em 0 #f9f5ff, -0.09em 0 #f9f5ff, 0.12em 0 #f9f5ff, -0.12em 0 #f9f5ff, 0.15em 0 #f9f5ff, -0.15em 0 #f9f5ff;
    background-position: 0% 95%, 100% 95%, 0% 95%;
}

a:link::selection,
a:link ::selection {
    text-shadow: 0.03em 0 highlight, -0.03em 0 highlight, 0 0.03em highlight, 0 -0.03em highlight, 0.06em 0 highlight, -0.06em 0 highlight, 0.09em 0 highlight, -0.09em 0 highlight, 0.12em 0 highlight, -0.12em 0 highlight, 0.15em 0 highlight, -0.15em 0 highlight;
    background-color: highlight;
    color: highlighttext;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    padding-left: 10px;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 1.3rem;
    font-size: 0.95rem;
    line-height: 1.5;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

@media (hover: hover) and (min-width: 1081px) {
    .sidenote-number:hover + .margin-toggle + .sidenote {
        border-left: 2px solid #666;
    }
}

.sidenote-number:after,
.sidenote:before {
    font-family: harriet;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem;
    line-height: 1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    left: -0.15rem;
    top: -0.2rem;
    font-size: 0.8rem;
    line-height: 1rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

@media (max-width: 1080px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > ol {
        width: 90%;
    }

    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
	padding-left: 0;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}
