/* @containers****************************************************************************************************************************************************************************************/
.container,.container_alt,.container_vis{
	width: 100%;
	max-width: 1378px;
	margin: 0 auto;
	padding:0 40px;
	overflow:hidden;
	position:relative;
}
.container_alt{
	overflow:visible;
	padding:0 30px;
}
.container_vis{
	overflow:visible;
}
#footer .container{
	background:none ;
}
.eightcol,.fourcol{
	padding:0 30px;
	position:relative;
}
/* @mobile first****************************************************************************************************************************************************************************************/
@media only screen and (min-width: 868px) {
	/* columns */
	.eightcol{
		width:71%;
		float:left;
	}
	.fourcol{
		width:29%;
		float:right;
	}
	.layout_masonry_3 .eightcol{
		width:100%;
	}
	.postbarLeft .eightcol{
		float:right;
	}
	.postbarLeft .four{
		float:left;
	}
	.postbarNone .eightcol,.tmnf-sidebar-null .eightcol{
		float:none !important;
		margin:0 auto !important;
	}
	.postbarNone .eightcol .entry,.tmnf-sidebar-null .entry,.postbarNone .postinfo,.tmnf-sidebar-null .postinfo,.postbarNone #comments,.tmnf-sidebar-null #comments{
		max-width:700px;
		float:none;
		margin:0 auto;
	}
	.postbarNone .post-head,.tmnf-sidebar-null .post-head,.postbarNone .post-pagination,.tmnf-sidebar-null .post-pagination{
		max-width:700px;
		float: none;
		margin-left:auto;
		margin-right:auto;
	}
	.postbarNone .header_text,.tmnf-sidebar-null .header_text{
		max-width:70%;
		float: none;
		margin-left:auto !important;
		margin-right:auto !important;
	}
	.postbarNone .post-head,.tmnf-sidebar-null .post-head{
		text-align:center;
	}
	.postbarNone .meta_single,.tmnf-sidebar-null .meta_single {
		float: none;
		text-align: center;
	}
	.postbarNone .meta_single .meta,.tmnf-sidebar-null .meta_single .meta{
		float: none;
		text-align: center;
		margin-bottom:15px;
	}
	.postbarNone .meta_single.meta_deko::after,.tmnf-sidebar-null .meta_single.meta_deko::after {
		left: 50% ;
		width: 260px ;
		margin-left: -130px ;
	}
	.foocol{
		width:20%;
		padding:0 50px 0 50px;
		position:relative;
		float:left;
		min-height:1px;
	}
	.foocol.second{
		width:60%;
		border-width:0 1px 0 1px;
	}
	.foocol.first{
		padding-left:20px;
	}
	.foocol.third{
		padding-right:20px;
	}
	/* defaults */
	.wrapper{
		overflow:hidden;
		padding:0 0 0 0;
	}
	.tmnf-sidebar-null .alignfull,.postbarNone .alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: auto;
		max-width: 1000%;
		margin-top:15px;
		margin-bottom:15px;
	}
	.tmnf-sidebar-null .alignwide,.postbarNone .alignwide {
		margin-left: calc(25% - 25vw) !important;
		margin-right: calc(25% - 25vw) !important;
		width: auto;
		max-width: 1000%;
	}
	.alignwide img,.alignfull img {
		display: block;
		margin: 0 auto;
	}
	.alignwide img{
		padding:8px 8px !important;
	}
	.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
		margin: 0 0 0 0 !important;
	}
	.post-previous,.post-next{
		width:50%;
	}
	/* other */
	.site-title .header_text {
		width: 70%;
		margin:120px 0;
	}
	.archive .site-title .header_text,.search .site-title .header_text {
		margin:120px 0 0 0;
	}
	.foocol.second .mc4wp-form{
		padding:0 80px !important;
	}
}
/* @mobile bits****************************************************************************************************************************************************************************************/


@media screen and (max-width: 1425px){
	#wp-calendar tbody td {
		padding: 8px 4px;
	}
}

@media screen and (max-width: 1225px){
	.wrapper {
		padding-right:40px !important;
		padding-bottom:40px !important;
		padding-left:40px !important;
	}
	#core {
		padding-top: 40px;
	}
	
	.container,.container_alt,.container_vis{
		padding:0 20px;
	}
	.container_alt{
		padding:0 20px;
	}
	.eightcol,.fourcol{
		padding:0 30px;
		position:relative;
	}
	.eightcol, .fourcol {
		padding: 0 20px;
	}
	.sidebar_item {
		padding: 0 30px;
	}
	.blogger {
		margin: 0 -20px;
		width: calc(100% + 40px);
	}
	.blogger>.item {
		padding: 0 20px;
	}
	h2.block_title {
		left: -120px;
	}
	.home_item,.item,.blogger > .item,.sidebar_item{
		margin: 0 0 40px 0;
	}
	.mag4_post_small{
		margin-bottom:0;
	}
	.home_item .blogger{
		margin-bottom:-40px;
	}
	.blogger > .item .item_inn {
		padding: 20px 30px 30px 30px;
	}
	.blogger .format-gallery.has-post-thumbnail .item_inn {
		bottom: 40px;
		right: 20px;
		padding: 15px 20px 10px 20px;
	}
	.item_inn h2,.blogger .format-gallery.has-post-thumbnail h2,.mag2_post.has-post-thumbnail h2{
		margin-top:0;
	}
	.mag1_post h2{
		margin-bottom:0;
	}
	.mag1_post .meta {
		margin: 20px 0 0 30px;
	}
	.mag1_post .item_inn,.mag4_post .item_inn,.mag3_post .item_inn {
		padding: 20px 30px 30px 30px;
	}
	.mag2_post .item_inn {
		padding: 20px 30px 10px 30px;
	}
	.mag4_post_small .item_inn {
		padding: 15px 30px 30px 30px;
	}
	.mag4_post_small .entryhead {
		margin: 10px 25px 30px 0;
		max-width: 30%;
	}
	.mag4_post_small.has-post-thumbnail h3 {
		margin-top:8px;
	}
	.blogger div.post.sticky .meta{
		padding-right:30px;
	}
	.blogger div.post.sticky:after{
		right:20px;
	}
	
	.foocol{
		padding:0 30px 0 30px;
		width:25%;
	}
	.foocol.second{
		width:50%;
	}
	.sidebar_item li.cat-item ul{margin: 10px 0 -10px 0;}
	@media screen and (max-width: 1125px){
		.wrapper {
			padding-right: 0!important;
			padding-bottom:0!important;
			padding-left: 0!important;
		}
	}
	@media screen and (max-width: 1025px){
		.nav > li > a {
			padding-right: 20px !important;
		}
		.nav > li > a::before {
			right: 0px;
		}
		.nav li.menu-item-has-children > a, .nav li.page_item_has_children > a {
			padding-right: 22px !important;
		}
		.menu-item-has-children > a::after {
			right:15px;
		}
		h1.entry-title{
			font-size:6vw !important;
		}
		.mag1_post h2{
			margin-bottom:0;
		}
		.mag1_post p.teaser {
			display:none;
		}
			#wp-calendar tbody td {
			padding: 8px 1px;
		}
		.sidebar_item ul.menu li ul {
			margin: 10px 0 -10px 10px;
		}
		.sidebar_item .cat_nr{ display:none;}
	}
	@media screen and (max-width: 868px){
		#titles{
			margin-top:40px !important;
			margin-bottom:0 !important;
		}
		.show-menu{
			display:block;
		}
		#navigation{
			display:none;
			overflow:hidden;
			position:relative;
			height:auto;
			top:auto;
			margin:0 -40px ;
			padding:10px 40px;
			width:calc(100% + 80px);
			background:#1F2024;
		}
		#navigation a{
			color:#fff ;
			margin:0 0 !important;
			padding:9px 0 8px 0 !important;
		}
		ul.nav,ul.nav li,ul.nav li ul{
			width:100% ;
			background-color: transparent !important ;
			border:none;
			float:none;
			margin:0 0 !important;
			padding:0 0 !important;
			position:relative !important;
			left:auto !important;
			display:block !important;
			visibility:visible !important;
		}
		ul.nav > li{
			margin:5px 0 !important;
		}
		.nav > li > ul > li,.nav li ul ul li {
			max-width: 100%;
		}
		ul.nav li ul li > a{
			border-bottom:1px dotted #444 !important;
		}
		.nav > li > ul:after,.menu-item-has-children > a::after{
			display:none ;
		}
		#main-nav > li.special{
			padding-right:20px
}
		ul.nav li ul.sub-menu{
			padding-left:12px !important;
		}
		.nav > li > a::before{
			display:none;
		}
		.header_search{
			float:none;
		}
		#header ul.social-menu{
			margin:5px 0 5px -10px;
		}
		#curtain .searchform{
			max-width:75%;
			width:75%;
			margin:0 0 0 0;
			top:40%;
			left:10%;
		}
		#curtain .searchSubmit, #curtain a.curtainclose {
			width: 50px;
		}
		#curtain a.curtainclose {
			margin:25px 0 0 0;
			left:83%;
		}
		#main-nav > li, .header_search {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		/* end mobile menu */
		.site-title{
			margin-top:40px;
		}
		/* blogger */
		/* footer + sidebar */
		.foocol,#sidebar{
			max-width:400px;
			margin:0 auto;
			width:100% !important;
			padding:20px !important
}
		.foocol{
			padding:20px 20px 0 20px !important;
		}
		#footer .sidebar_item:first-of-type {
			margin-top: 10px;
		}
		/* comments */
		.commentlist li.comment.parent {
			padding: 15px 0 0 0;
		}
		.commentlist li.comment {
			padding: 15px 0 15px 20px;
		}
		.comment-form-author, .comment-form-email, .comment-form-url {
			width: 100%;
			float: none;
			margin-right: 0!important;
		}
		.comment-author cite,.comment-meta{
			padding-left:0px;
		}
		h1.entry-title, h2.archiv{
			font-size:7vw !important;
		}
	}
	@media screen and (max-width: 668px){
		.mag1_post.has-post-thumbnail .entryhead {
			float: none;
			width: 100%;
		}
		.mag1_post.has-post-thumbnail .item_inn {
			position:relative;
			right: auto;
			bottom: auto;
			width:100%;
		}
		.mag2_post .meta{
			display:none;
		}
		.mag2_post.has-post-thumbnail .item_inn {
			bottom: 20px;
			width: 45%;
		}
		.mag2_post .item_inn {
			padding: 15px 20px 0px 20px;
		}
		.mag4_post {
			width: 60%;
		}
		.mag4_post_small{
			width:40%;
		}
		.mag4_post_small .meta,.mag4_post_small .entryhead,.blogger .format-gallery.has-post-thumbnail .meta {
			display: none;
		}
		.scrollTo_top {
			width:50px;
		}
		.scrollTo_top a{
			padding:8px 0 15px 0;
		}
	}
	@media screen and (max-width: 520px){
		.container,.container_alt,.container_vis{
			padding:0 20px;
		}
		.container_alt {
			padding: 0 0;
		}
		#navigation {
			padding: 10px 40px;
		}
		#core{
			padding-top:20px;
		}
		h1.entry-title{
			font-size:9vw !important;
		}
		.tmnf_excerpt p {
			font-size: 100%;
			margin: 0 0 10px 0;
		}
		h2.block_title {
			top:146px;
			left: -115px;
			height:30px;
			padding:6px 15px;
		}
		a.mainbutton{ margin:0 0 0 0;}
		.item,
		.home_item,
		.sidebar_item{ margin-bottom:20px}
		.blogger>.item{
			width:100% !important;
			margin-bottom:20px;
		}
		.blogger > .item .entryhead img {
			width:100%
}
		.mag3_post.has-post-thumbnail .entryhead,.mag3_post.has-post-thumbnail .entryhead img,.mag3_post.has-post-thumbnail .item_inn,.mag4_post,.mag4_post_small {
			float: none;
			width: 100%;
			border-left:none;
		}
		.blogger .format-gallery.has-post-thumbnail .item_inn {
			bottom: 0;
		}
		ul.related li{
			width:100%;
			float:none;
		}
		.related li .imgwrap{
			float:left;
			margin:0 25px 20px 0;
			max-width:25%;
		}
		.related li h5{
			margin-top:20px;
		}
		.entry blockquote {
			padding: 0 25px !important;
		}
	}
	