.location {
    float: right;
    position: relative;
    padding-left: 1rem;
    background-color: #f9f5ff;
}
.placename a {
    margin-right: 1rem;
}
.placename::after{
    display: inline-block;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
}
h2 {
    display: block;
    overflow: hidden;
}
@media (max-width: 1600px) {
    .location {
        float: none;
    }
    .location::before {
        content: "\A";
        white-space: pre;
    }
    .placename::after{
        content: none;
    }
    h2 {
        line-height: 1.25;
    }
}
