.splash {
    position: fixed;
    z-index: 4001;
    background-color: rgba(0, 0, 0, 0.5);
    height: 120%;
    width: 100%;
    top: 0;
    max-width: 600px;
}
.banner_close {
    position:absolute;
    display:block;
    top: 0px;
    left: 50%;
    width:85px; height:65px;
    background:url(../images/bt-x.png) 25px 7px no-repeat;
    background-size: 36px 36px;
    cursor:pointer;
    z-index: 10999999;
    margin-left: -150px;
    margin-left: 90px;
}
