
/* Page content invisible at first during splash */
#content {
   display: none;
}

#splash {
  text-align: center;
  width: 300px;
	height: 100px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#drawCanvas {
  width: 100%;
  touch-action:none;
}

.floater {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
}

#progressBar.floater {
  width: 15em;
  height: 1.5em;
  background-color: #0004;
  visibility: hidden;
}

#progressBarBar.bar {
  background: linear-gradient(to right, #00ff, #0f0f 15em);
  color: #fee;
  border-radius: 5px;
  width: 0%;
  height: 100%;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}

/* Thanks to Gavin Michael for the toolBar: https://codepen.io/GavinMichael/pen/zZejxX */
.toolBar{
  background-color: #33C3F0;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}

/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.toolBar .toolBarElement{
  float: left;
  color: white;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 100%;
  font-family: "Raleway";
}

label {
  margin: 0;
}

fieldset.toolBarElement {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  margin: 0;
}

.toolBarSubElement{
  padding: 0;
  margin: 0;
  color: black;
  font-size: 80%;
}

input[type=number].toolBarSubElement,
input[type=text].toolBarSubElement {
  height: 20px;
  width: 4em;
  padding: 2px 6px; /* The 6px vertically centers text on FF, ignored by Webkit */
}

option.toolBarSubElement {
  width: 80px;
}

.toolBarSubElementHeader {
  color: blue;
  font-size: 100%;
}

button.toolBarSubElement{
  padding-left: 4px;
  padding-right: 4px;
}

button.toolBarSubElement.clearer{
  background: repeating-linear-gradient(
    to top right,
    transparent 0 45%,
    #FF8B75 45% 55%,
    transparent 55% 100%
  ),
  repeating-linear-gradient(
    to top left,
    transparent 0 45%,
    #FF8B75 45% 55%,
    transparent 55% 100%
  );
}

input.toolBarSubElement {
  color: black;
}

.toolBar span.toolBarElement{
  color: black;
}

/*Background color change during hover state*/
.toolBar a.toolBarElement:hover{
  background-color: white;
  color: #33C3F0;
}
button.toolBarSubElement:hover {
  color: black;
  background-color: white;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.toolBar a.icon{
  display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px){
/*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .toolBar .toolBarElement:not(.icon):not(:first-child){
    display: none;
  }
/*Brings the menu icon into view and floats it to the right*/
  .toolBar a.icon{
    display: block;
    float: right;
  }

/*The toolBar class will be changed to 'toolBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .toolBar.responsive {
    position: relative;
  }
  .toolBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

/*Removes the originally set float and brings them to view*/
  .toolBar.responsive .toolBarElement:not(.icon){
    float: none;
    display: block;
    text-align: left;
  }
}

/* MODAL STYLING */

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media print {
  .toolBar, .footer {
    display: none;
  }
}

/* .controlSet label {
    border:1px solid #CCC;
    background: #CCC;
    cursor:pointer;
    padding: 5px;
}

.controlSet label:hover {
    background: #EEE;
}

.radioInputWrapper {
    padding: 5px;
}

.controlSet {
    margin: 0 0 15px 0;
}

.controlSet h3 {
    background: #CCC;
    text-align: center;
    margin: 5px 0 5px 0;
}

body {
}

button {
  background-color: #AAA;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.footer {
  display: inline-block;;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #AAA;
  color: white;
  text-align: center;
}

.main {
    height: 95%;
} */
